body {
    width: auto;
    height: auto;
}

div.gameContainer {
    height: 100%;
    width: 776px;
    margin: 0 auto;
    display: block;
}

div.gameBoard {
    height: 100%;
    width: 100%;
    padding: 10px;
    float: left;
    display: block;
}

div.cell {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid black;
    float: left;
    display: block;
    cursor: pointer;
    text-align: center;
}

div.settings {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

div.difficulty {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

span.level {
    margin: 0 15px;
    color: black;
    cursor: pointer;
}

span.not-selected {
    opacity: 0.5;
}

span.not-selected {
    opacity: 1;
}

div.begin {
    margin-top: 15px;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    color: black;
}

div.gameMessage {
    display: none;
}