div.main-container {
    height: 100%;
    width: auto
    margin: 0 auto;
}

div.gameBoard {
    height: ;
    width: ;
    margin: 0 auto;
    border: ;
}

div.cell {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
}

div.settings {
    
}

div.difficulty {
    
}

div.level {
    
}

div.not-selected {
    
}

div.begin {
    
}

div.gameMessage {
    
}